<h2 class="text-center mb-4">My Event Results</h2>

{{#if results.length}}
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Event Name</th>
            <th>First Place</th>
            <th>Second Place</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <td>{{this.eventName}}</td>
            <td>{{this.firstPlaceName}} ({{this.classFirst}})</td>
            <td>{{this.secondPlaceName}} ({{this.classSecond}})</td>
            <td>
                <a href="/eventHead/edit-result/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="alert alert-info text-center">
    <p>No results found for your events.</p>
</div>
{{/if}}